.barra-carrinho-fixa {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FBBF24; /* Amarelo Ney Burguer */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 999;
  color: #000;
  font-weight: bold;
}

.info-resumo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qtd-itens {
  background-color: #000;
  color: #FBBF24;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.texto-ver-sacola {
  font-size: 16px;
  text-transform: uppercase;
}

.valor-total {
  font-size: 18px;
}